In [15]:
import pandas as pd
import numpy as np

In [16]:
df_compras = pd.read_csv('shopping_behavior_updated.csv')
df_compras.shape

(3900, 18)

In [17]:
df_compras.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

Coluna a ser eliminada que identifica o cliente é o ID. Num primeiro momento, essa seria a única coluna a ser excluída.

In [18]:
df_compras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

No caso acima, os valores numéricos já estão com seus tipos corretos.

In [19]:
df_compras.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

Esse dataset não possui nenhum valor nulo, à primeira vista. Talvez não seja necessário adotar nenhuma estratégia de eliminação de nulos.

In [20]:
df_compras.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [21]:
print(df_compras.columns)

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [22]:
colunas_cat = df_compras.select_dtypes(exclude=np.number).columns.tolist()
df_compras[colunas_cat].describe().T

                       count unique             top  freq
Gender                  3900      2            Male  2652
Item Purchased          3900     25          Blouse   171
Category                3900      4        Clothing  1737
Location                3900     50         Montana    96
Size                    3900      4               M  1755
Color                   3900     25           Olive   177
Season                  3900      4          Spring   999
Subscription Status     3900      2              No  2847
Shipping Type           3900      6   Free Shipping   675
Discount Applied        3900      2              No  2223
Promo Code Used         3900      2              No  2223
Payment Method          3900      6          PayPal   677
Frequency of Purchases  3900      7  Every 3 Months   584

Location: 50 -> Os Estados Unidos têm exatos 50 estados. Talvez tenhamos compras em todos os estados dos EUA (incluindo Alasca e Havaí).


As colunas com 2 tipos, como Gender, Subscription Status, Discount Applied e Promo Code Used podem ser alteradas para 0 e 1 em vez de deixá-las como Yes/No.

In [23]:
# Quais são os registros únicos por coluna?
for _ in df_compras.columns:
    unique_regs = df_compras[_].unique()
    print(f'\n{_}')
    if (len(unique_regs)< 30):
        print(unique_regs)
    else:
        print(unique_regs[:30])

Customer ID
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]

Age
[55 19 50 21 45 46 63 27 26 57 53 30 61 65 64 25 52 66 31 56 18 38 54 33
 36 35 29 70 69 67]

Gender
['Male' 'Female']

Item Purchased
['Blouse' 'Sweater' 'Jeans' 'Sandals' 'Sneakers' 'Shirt' 'Shorts' 'Coat'
 'Handbag' 'Shoes' 'Dress' 'Skirt' 'Sunglasses' 'Pants' 'Jacket' 'Hoodie'
 'Jewelry' 'T-shirt' 'Scarf' 'Hat' 'Socks' 'Backpack' 'Belt' 'Boots'
 'Gloves']

Category
['Clothing' 'Footwear' 'Outerwear' 'Accessories']

Purchase Amount (USD)
[53 64 73 90 49 20 85 34 97 31 68 72 51 81 36 38 48 62 37 88 22 25 56 94
 79 67 91 33 69 45]

Location
['Kentucky' 'Maine' 'Massachusetts' 'Rhode Island' 'Oregon' 'Wyoming'
 'Montana' 'Louisiana' 'West Virginia' 'Missouri' 'Arkansas' 'Hawaii'
 'Delaware' 'New Hampshire' 'New York' 'Alabama' 'Mississippi'
 'North Carolina' 'California' 'Oklahoma' 'Florida' 'Texas' 'Nevada'
 'Kansas' 'Colorado' 'North Dakota' 'Illinois' 'Indiana' 'Arizona'
 'Alaska']

Size
['L' 'S' 'M' 'XL']

Color
['Gray' 'Maroon' 'Turquoise' 'White' 'Charcoal' 'Silver' 'Pink' 'Purple'
 'Olive' 'Gold' 'Violet' 'Teal' 'Lavender' 'Black' 'Green' 'Peach' 'Red'
 'Cyan' 'Brown' 'Beige' 'Orange' 'Indigo' 'Yellow' 'Magenta' 'Blue']

Season
['Winter' 'Spring' 'Summer' 'Fall']

Review Rating
[3.1 3.5 2.7 2.9 3.2 2.6 4.8 4.1 4.9 4.5 4.7 2.8 4.6 3.3 4.4 3.6 5.  4.
 3.7 4.2 3.9 3.  3.8 3.4 4.3 2.5]

Subscription Status
['Yes' 'No']

Shipping Type
['Express' 'Free Shipping' 'Next Day Air' 'Standard' '2-Day Shipping'
 'Store Pickup']

Discount Applied
['Yes' 'No']

Promo Code Used
['Yes' 'No']

Previous Purchases
[14  2 23 49 31 19  8  4 26 10 37 34 44 36 17 46 50 22 32 40 16 13  7 41
 45 38 48 18 15 25]

Payment Method
['Venmo' 'Cash' 'Credit Card' 'PayPal' 'Bank Transfer' 'Debit Card']

Frequency of Purchases
['Fortnightly' 'Weekly' 'Annually' 'Quarterly' 'Bi-Weekly' 'Monthly'
 'Every 3 Months']

In [24]:
# Os 5 valores que mais aparecem em cada coluna

for _ in df_compras.columns:
    if len(df_compras[_].unique()) < df_compras.shape[0]:
        print(f'\n{_}')
        print(df_compras[_].value_counts(1).head(5))

Age
69    0.022564
57    0.022308
41    0.022051
25    0.021795
49    0.021538
Name: Age, dtype: float64

Gender
Male      0.68
Female    0.32
Name: Gender, dtype: float64

Item Purchased
Blouse     0.043846
Jewelry    0.043846
Pants      0.043846
Shirt      0.043333
Dress      0.042564
Name: Item Purchased, dtype: float64

Category
Clothing       0.445385
Accessories    0.317949
Footwear       0.153590
Outerwear      0.083077
Name: Category, dtype: float64

Purchase Amount (USD)
94    0.015897
32    0.015897
36    0.015897
51    0.015641
90    0.015385
Name: Purchase Amount (USD), dtype: float64

Location
Montana       0.024615
California    0.024359
Idaho         0.023846
Illinois      0.023590
Alabama       0.022821
Name: Location, dtype: float64

Size
M     0.45
L     0.27
S     0.17
XL    0.11
Name: Size, dtype: float64

Color
Olive     0.045385
Yellow    0.044615
Silver    0.044359
Teal      0.044103
Green     0.043333
Name: Color, dtype: float64

Season
Spring    0.256154
Fall      0.250000
Winter    0.248974
Summer    0.244872
Name: Season, dtype: float64

Review Rating
3.4    0.046667
4.0    0.046410
4.6    0.044615
4.2    0.043846
2.9    0.043590
Name: Review Rating, dtype: float64

Subscription Status
No     0.73
Yes    0.27
Name: Subscription Status, dtype: float64

Shipping Type
Free Shipping    0.173077
Standard         0.167692
Store Pickup     0.166667
Next Day Air     0.166154
Express          0.165641
Name: Shipping Type, dtype: float64

Discount Applied
No     0.57
Yes    0.43
Name: Discount Applied, dtype: float64

Promo Code Used
No     0.57
Yes    0.43
Name: Promo Code Used, dtype: float64

Previous Purchases
31    0.024872
21    0.024615
14    0.023590
24    0.023333
3     0.023333
Name: Previous Purchases, dtype: float64

Payment Method
PayPal         0.173590
Credit Card    0.172051
Cash           0.171795
Debit Card     0.163077
Venmo          0.162564
Name: Payment Method, dtype: float64

Frequency of Purchases
Every 3 Months    0.149744
Annually          0.146667
Quarterly         0.144359
Monthly           0.141795
Bi-Weekly         0.140256
Name: Frequency of Purchases, dtype: float64

Os valores de estações do ano (seasons) estão praticamente iguais (25% para cada um). Talvez não seja útil para avaliar a quantidade de compras, mas para o tipo de produto sim.

Shipping também tem valores muito equilibrados.

Discount applied e Promo Code Used talvez sejam redundantes, pois se você usa um código promocional, necessariamente você receberá um desconto. Isso fica comprovado pelo mesmo número de Yes e No nas duas colunas.

In [26]:
#Comparar colunas discount e promo code
sao_identicas = df_compras['Discount Applied'].equals(df_compras['Promo Code Used'])
print(f'Discount e promo code são idênticas?: {sao_identicas}')

Discount e promo code são idênticas?: True

Como elas são idênticas, podemos deletar uma delas. Escolhi deletar promo code pois acho discount mais intuitivo e informativo